.card {
  margin: 0 auto 10px;
  width: 100%;
  max-width: 320px;
  background-color: #2a2a2a;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &__figure {
    margin: 0;
    width: 100%;

    &--img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &__content {
    padding: 10px;

    &--location {
      display: flex;
      align-items: center;

      p {
        margin-left: 10px;
      }
    }
  }
}
