<ion-content>
  <section class="login">
    <img class="login__icon"
         alt="icon"
         src="https://images.pexels.com/photos/912413/pexels-photo-912413.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"/>
    <ion-title class="login__title">Iniciar sesión</ion-title>
    <form (ngSubmit)="login()" [formGroup]="credentials" class="login__form">
      <ion-item>
        <ion-input formControlName="email" placeholder="Email" type="email"></ion-input>
      </ion-item>
      <div *ngIf="userObj === null" class="errors">
        <span>Email no existe</span>
      </div>
      <ion-item>
        <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
      </ion-item>
      <div *ngIf="!pswOk" class="errors">
        <span>Contraseña errónea</span>
      </div>
      <ion-button expand="block" type="submit">Ingresar</ion-button>
    </form>
  </section>
</ion-content>
