<ion-header class="articleHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{place !== null ? place.name : 'Cargando'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-infinite-scroll-content *ngIf="place !== null" class="articleSite">
    <ion-img class="articleSite__image"
             src="{{place.imageUrl}}"></ion-img>
    <section class="articleSite__title">
      <ion-title>{{place.name}}</ion-title>
      <ion-icon (click)="save()" name="heart-outline"></ion-icon>
    </section>
    <ion-text class="articleSite__description">{{place.desc}}</ion-text>
    <iframe *ngIf="place !== null"
            [src]="maps"
            height="450" width="100%"></iframe>
  </ion-infinite-scroll-content>
</ion-content>
