<ion-header class="articleHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title >Monserrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-infinite-scroll-content class="articleSite">
    <ion-img class="articleSite__image"
      src="https://images.pexels.com/photos/9824365/pexels-photo-9824365.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"></ion-img>
    <section class="articleSite__title">
      <ion-title>Monserrate</ion-title>
      <ion-icon name="heart-outline"></ion-icon>
    </section>
    <ion-text class="articleSite__description">
      El cerro de Monserrate es el más conocido de los cerros Orientales de Bogotá. Junto a Guadalupe es uno de los
      cerros tutelares de la ciudad. Monserrate tiene una altitud de 3152 m y se ubica sobre la cordillera oriental
    </ion-text>
  </ion-infinite-scroll-content>
</ion-content>
