<article class="profile">
  <h2 class="profile__title">Mis datos</h2>
  <form class="profile__content" method="post">
    <label class="profile__content--title" for="name">Nombre</label>
    <input class="profile__content--item" type="text" name="name" id="name" value="Zoyla Vaca Ramirez"  required/>
    <label class="profile__content--title" for="mail">Correo</label>
    <input class="profile__content--item" type="email" name="mail" id="mail" value="zoylavaca@mail.com" required>
    <ion-button>Actualizar</ion-button>
  </form>
</article>
